# OSX
#
.DS_Store

# next.js
#
.next
.next/
out
out/

# Logs
npm-debug.log*

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# IDEA
#
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
*.iml

# firebase
#
.firebase
.firebase/
