@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Brand Color
$brand-primary: #da1212 !default;
$brand-secondary: #3f95ea !default;
$brand-black: #000;

